.main-div{
    width: 30pc;
    margin: auto;
    text-align: center;
    border: 3px solid blue;
}
img{
    width: 30pc;
}
hr{
    background-color:blue;
    height: 1px;
    border: none;
}
ul,
ol{
    text-align: left;
}